<!DOCTYPE html>
<html>
<head>
  <title>Newstack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <nav>
      <%= link_to 'Newstack', root_path %>
      <%= 'News' %>
      <%= 'Twitter' %>
      <%= 'Forum' %>
      <% if @current_user.present? %>
        <%= link_to 'Edit profile', edit_user_path %>
        <%= link_to "Log Out #{ @current_user.email }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Sign In', login_path %>
      <% end %>
    </nav>
    <div id="checkboxes">
      <ul>
        <label><input type='checkbox' id="abcCheckbox" value="abc-news-au">ABC</label>
        <label><input type="checkbox" id="bbcCheckbox" value="bbc-news">BBC</label>
        <label><input type="checkbox" id="bloombergcheckbox" value="bloomberg">Bloomberg</label>
        <label><input type="checkbox" id="buzzfeedCheckbox" value="buzzfeed">Buzzfeed</label>
        <label><input type="checkbox" id="ftCheckbox" value="financial-times">Financial Times</label>
        <label><input type="checkbox" id="recodeCheckbox" value="recode">recode</label>
        <label><input type="checkbox" id="teCheckbox" value="the-economist">The Economist</label>
        <label><input type="checkbox" id="tvCheckbox" value="the-verge">The Verge</label>
      </ul>
    </div>

    <% if flash[:message].present? %>
      <p><%= flash[:message] %></p>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
